.Header {
    width: 100%;
   
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    @apply py-4;
}

.chakra-button {
    display: none !important;
}

@media (max-width:900px) {
    .chakra-button {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
}