.StatsticsContainer {
    width: 100%;
    height: 100vh;
    display: flex;

    .StatsticsContainerLeft {
        flex: 1;
        border-right: 1px solid #000;
    }
    .StatsticsContainerMiddle {
        flex: 1;
        border-right: 1px solid #000;
    }.StatsticsContainerRight {
        flex: 1;
    }
}